.main{
    text-align:center;

}
.dt{align-items: center;
    margin-left: 25%;


}
.img{
    border-radius: 5%;
    border-right: 10%;
    box-shadow: 1px 2px 5px black;

}
   
.fp{/*fueltype*/
    position:absolute;
    margin-left: 20%;
    font-size: 25px;
    font-style: inherit;
   

    
}
.btn{
    margin-left: 38%;
    margin-top: 5%;
    border-width:3px;
    height:40;
    width:300;
}
.po{
    border-left: 5%;
}
.dt{
    ;
}
    
/*seatingcapacity*/
.body
{
    background-color: black;
}

.pp{text-decoration: solid;
    position: absolute;
    margin-left: 40%;
    font-size: 25px;
    font-style: inherit;
    
}
.pr{/*vehicle overview*/
    font-size: 20px;
    text-align: center;

    
   
}
.k{
    position: absolute;
    font-size: 25px;
    font-style: inherit;
}
.td{margin-left: 50%;}
    /*car title*/



